<section>

    <!--header -->
    <div class="control-header col-sm-9">
        <h1 align="center">Site Registration  </h1>



    </div>

    </br>
    </br>
    </br>
    </br>
    </br>
    </br>


    <form class="form-inline" role="form" ng-submit="submit()">


        <!--Site Location-->


        <table style="width:50%">
            <tr>
                <td><label for="rglocation" class="control-label">Address</label></td>
                <td>    <div class="input-group input-group-md">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-bookmark red"></i></span>
                    <input class="form-control" id="nic" ng-model="nic"  type="text" placeholder="NIC Number" pattern="[0-9{{9}V}">
                </div></td>
                <td><label for="rglocation" class="control-label">Address</label></td>
                <td><input class="form-control" id="rglocation" ng-model="rgAddress" type="text"placeholder="Enter Site Address"></td>
            </tr>
            <tr>
                <td><label for="rglocation" class="control-label">Address</label></td>
                <td><input class="form-control" id="rglocation" ng-model="rgAddress" type="text"placeholder="Enter Site Address"></td>
                <td><label for="rglocation" class="control-label">Address</label></td>
                <td><input class="form-control" id="rglocation" ng-model="rgAddress" type="text"placeholder="Enter Site Address"></td>
            </tr>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>80</td>
            </tr>
        </table>


        </br>
        </br>
        </br>
        </br>



        <div class="box-inner">
            <div class="box-content">
                <div class="row">
                    <div class="col-md-2"><label for="rglocation" class="control-label">Address</label>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker red"></i></span>
                        <input class="form-control" id="rglocation" ng-model="rgAddress" type="text"placeholder="Enter Site Address">
                        <label for="rglocation" class="control-label">Address</label>
                    </div>
                    <div class="col-md-4"><h6>column 4</h6></div>
                    <div class="col-md-4"><h6>column 4</h6></div>
                </div>
            </div>
        </div>



        <!DOCTYPE html>
        <html lang="en">
        <head>
            <title>Bootstrap Example</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        </head>
        <body>
        </form>



    <form>
        <div class="row">
            <div class="col-xs-5">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search&hellip;">

                    <button type="button" class="btn btn-default">Go</button>

                </div>
            </div>
            <div class="col-xs-7">
                <div class="input-group">
                    <input type="text" class="form-control"  placeholder="Type something&hellip;">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default">Action</button>
                    <button type="button" class="btn btn-default">Options</button>
                </span>
                </div>
            </div>
        </div>
    </form>
    </section>




