<section>

    <!--header -->
    <div class="control-header col-sm-9">
        <h1 align="center">Site Registration  </h1>



    </div>

    </br>
    </br>
    </br>
    </br>
    </br>
    </br>


    <form class="form-inline" role="form" ng-submit="submit()">


        <!--Site Location-->
        <table style="width:100%">
<tr>
        <td></td>
    <td></td>
    <td></td>
    <td></td>

    <td> <label for="rglocation" class="control-label">Address</label></td>

        <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker red"></i></span>
      <input class="form-control" id="rglocation" ng-model="rgAddress" type="text"placeholder="Enter Site Address">
     <label for="rglocation" class="control-label">Address</label>

    <!--span class="input-group-addon"><i class="glyphicon glyphicon-map-marker red"></i></span-->
    <td> <input class="form-control" id="rglocation" ng-model="rgAddress" type="text"placeholder="Enter Site Address"> </td>
    <td> <label for="rglocation" class="control-label">Address</label></td>

    <!--span class="input-group-addon"><i class="glyphicon glyphicon-map-marker red"></i></span-->
    <td> <input class="form-control" id="rglocation" ng-model="rgAddress" type="text"placeholder="Enter Site Address"> </td>
    <td> <label for="rglocation" class="control-label">Address</label></td>

    <!--span class="input-group-addon"><i class="glyphicon glyphicon-map-marker red"></i></span-->
    <td> <input class="form-control" id="rglocation" ng-model="rgAddress" type="text"placeholder="Enter Site Address"> </td>

</tr>

</table>

        </br>
        </br>
        </br>
        </br>

        <!--table style="width:100%">
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
            </tr>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>80</td>
            </tr>
        </table-->


        <div class="box-inner">
            <div class="box-content">
                <div class="row">
                    <div class="col-md-2"><label for="rglocation" class="control-label">Address</label>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker red"></i></span>
                        <input class="form-control" id="rglocation" ng-model="rgAddress" type="text"placeholder="Enter Site Address">
                        <label for="rglocation" class="control-label">Address</label>
                    </div>
                    <div class="col-md-4"><h6>column 4</h6></div>
                    <div class="col-md-4"><h6>column 4</h6></div>
                </div>
            </div>
        </div>

        </form>
    </section>


